$font-family: 'Open Sans';

$black: #000;
$white: #fff;
$green: #81D100;
$light-green: #87d30d;
$red: #CA482A;
$grey: #ededed;

$content-grey: #F5F5F5;
$content-white: #fff;
$body-grey: #EFEFEF;
$border-grey: #E2E2E2;
$checkbox-grey: #DDDDDD;
$note-grey: #AFAFAF;
$header-black: #383838;
$header-arrow-black: #424242;
$direct-arrow-back: #F7F7F7;
$sub-top-menu-grey: #9a9a9a;

$hover-box-shadow: 0px 0px 15px rgba(0,0,0,0.17);